html, body
    {
        margin:0;
        padding:0;
    }
body
{
    height: 4848px;
    width: 100vw;
    position: absolute;
}

.navigation /* Modifies the style of the main navigation background */
    {
        position: absolute;
        position: fixed;
        top: 0;
        height: 90px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }   .logo /* Placement for nav logo */
        {
            width: 60px;
            height: 50px;
            margin-top: 20px;
            margin-left: 15px;
        }

.aboutMe
    {
        height: 10.25vh;
        width: 100vw;
        top: 16.1vh;
        bottom: 4848px;
        position: absolute;
    }



.aboutMebox /* Placement of the about me divider */
    {
        margin-top: 54.24vh;
        right: 2.1vw;
        Left:10.6vw; 
        position: relative;
        width: 87.36vw;
        height: 24.8vh;
        background-color: black;
        border: 2px solid white;
        z-index: 2;
    }

.abouttext /* Placement of the about me text */
    {
        width: 71.94%;
        height: 3.5%;
        padding-top: 75px;
        margin: 5.24% 15.3% auto 12.7%;
        position: absolute;
    }    

.aboutHeading /* Placement of the about heading */
    {
        position: absolute;
        top: 0;
        margin: 150px 1046px 20px 20px;
        height: 84px;
        width: 192px;
        z-index: 1;
    }

nav /* Placement for <nav> tag */
{
    position: absolute; 
    position: fixed;  
    top: 0;
    width: 100%;
    height: 90px;
    z-index:3;
}   ul /* Placement of the <ul> item */
    {
        margin-top: 0px;
        width: 100%;
        margin-left: 850px;
        margin-right: 20px;
        vertical-align: 50%;
        max-height: 90px;
    } .inline-block /* Placement & formatting for individual nav items */
    {
        margin-top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: white;
        display: inline-block;
        padding: 30px 50px 1px 0px;
    } .line /* Placement & formatting of the white line under all 4 nav items */
    {
        position: absolute;
        margin:59px, 20px, 0px, 880px; 
        width: 460px;
        border: 2px solid white;
    } .selectorLine /* Placement & formatting of the 'active' nav item indecator */ 
    {
        position: absolute;
        border: 2px solid black;
        padding:59px, 476px, 31px, 880px;
        margin: 0px;
        width: 84px;
        z-index: 3;   
    } ul /* Placement of the <ul> item */
    {
        margin-top: 0px;
        width: 100%;
        margin-left: 850px;
        margin-right: 20px;
        vertical-align: 50%;
        max-height: 90px;
    }

.heroImg /* Placement of the hero image class*/
{
    position: absolute;
    top: 0;
    height: 908px;
    width: 100%;
    z-index: -1;
}   .stars /* Placement of the hero image image*/ 
    {
        position: absolute;
        z-index:-1;
        margin-top: 0%;
        height: 908px;
        width: 100%;
    }

h1,h2,h4,h5,pre /* Formatting of text */
{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 1;
}   h1, h4 /* Formatting and placement of text used for intro heading */
    {
        margin:342px 982px 482px 0px;
        font-size: 72px;
        font-weight: 500; 
    } h2 /* Formatting and placement of text used with <h2> tag */
    {
        margin: 426px 1019px 449px 0px;
        font-size: 28px;
        font-weight: 400;
    }



.contact
    {
        position: absolute;
        top: 3771px;
        width: 100%;
        height: 1017px;
    }

.contactMe
    {
        color: black;
        margin: 90px 535px 937px 534px;
    } 

.card1
    {
        position: absolute;
        display: flex;
        flex-direction: row;
        height: 197px;
        width: 285px;
        top: 0px;
        margin: 373px 32px 507px 228px;
    } 

.contactUnderline
    {
        width: 600px;
        height: 0px;
        border: 1px solid black;
        margin: 160px 420px 930px 420px;
    } 
    
#contactheader
{
    position: absolute;
    width: 1000px;
    height: 48px;
    font-size: 48px;
    color: black;
    top: 0px;
    margin: 222px 239px 807px 239px;
}    

#gmail
{
    position: absolute;
    height: 113.62px;
    width: 150px;
    margin: 16px 68px 67.38px 67px;
}

#email
{
    margin: 153px 26px 16px 26px;
    font-size: 24px;
}

.card2
{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0px;
    margin: 373px 577px 507px 577px;
    height: 197px;
    width: 285px;
}

#phone
{
    position: absolute;
    height: 113px;
    width: 113px;
    margin: 16px 86px 68px 86px;
}

#phonenumber
{
    height: 28px;
    width: 233px;
    margin: 153px 26px 16px 26px;
    font-size: 24px;
    text-align: center;
}

.card3
{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 197px;
    width: 285px;
    top: 0px;
    margin: 373px 227px 507px 928px;
}

#linkedin
{
    position: absolute;
    height: 113px;
    width: 98.88px;
    margin: 16px 93.12px 68px 93px;
}

#mylinkedin
{
    width: 273px;
    height: 28px;
    margin: 153px 6px 16px 6px;
    font-size: 24px;
}



.footer
{
    position: absolute;
    top: 4788px;
    height: 60px;
    width: 100%;
    background-color: black;
}
.h6
{
    color: white;
    font-size: 18px;
}
#cp2021
{
    position: absolute;
    height: 21px;
    width: 122px;
    margin: 20px 1286px 19px 32px;
    color: white;
}

#figma
{
    position: absolute;
    height: 21px;
    width: 122px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
}

.figma
{
    position: absolute;
    top: 0px;
    height: 30px;
    width: 144px;
    margin: 15px 216px 15px 1081px;
    color: white;
}
#figmaLogo
{
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: 114px;
}

.vsCode
{
    position: absolute;
    top: 0px;
    height: 30px;
    width: 116px;
    margin:15px 20px 15px 1304px;
    color: white;
}
#vsCode
{
    position: absolute;
    height: 21px;
    width: 115.89px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

#vsCodeLogo
{
    position: absolute;
    height: 30px;
    width: 29.89px;
    margin-left: 86px;
}

.footerdivider
{
    position: absolute;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1235px;
    border: 1px solid white;
    transform: rotate(-90deg);
}





